<div id="search-header" data-role="header" data-theme="b">
    <a href="#" id="locate" data-transition="slidedown" class="ui-btn-left">Cancelar</a>
    <h1>Buscar</h1>
</div>
<div data-role="content">
    <div id="front-main">
        <h3 class="notopmargin">Busca por departamento, ciudad o dirección</h3>
        <form class="inputcard" name="postcodeForm" id="postcodeForm">
            <div>
                <input data-role="none" type="text" name="pc" value="" id="pc" size="10" maxlength="200" placeholder="Por ejemplo, cll 5 No. 15-27, Bogotá">
            </div>
        </form>
        <input type="button" value="Go" id="submit" data-theme="b"> 
    </div>

    <div id="front-howto">
        <% if (typeof msg != 'undefined' && msg !== '') { %>
            <h2><%= msg %></h2>
        <% } %>
    </div>
</div>
