<div id="submit-header" data-role="header" data-theme="c">
    <a id="reports-next-btn" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">Atrás</a>
    <h1>Sus Detalles</h1>
</div>

<div data-role="content">
    <div class="bottom-btn">
        <a id="view-regalias" class="nodisplay ui-btn ui-btn-left ui-btn-up-b ui-shadow ui-btn-corner-all" data-role="none">
            <span class="ui-btn-inner">
                <span class="ui-btn-text">Proyectos Regalías <span class="draft_count" id="regalias-reports"></span></span>
            </span>
        </a>
        <a id="view-new-reports" class="nodisplay ui-btn ui-btn-left ui-btn-up-b ui-shadow ui-btn-corner-all" data-role="none">
            <span class="ui-btn-inner">
                <span class="ui-btn-text">Nuevos Reportes <span class="draft_count" id="new-reports"></span></span>
            </span>
        </a>
        <a id="view-open-reports" class="nodisplay ui-btn ui-btn-left ui-btn-up-b ui-shadow ui-btn-corner-all" data-role="none">
            <span class="ui-btn-inner">
                <span class="ui-btn-text">Reportes Abiertos <span class="draft_count" id="open-reports"></span></span>
            </span>
        </a>
        <a id="view-close-reports" class="nodisplay ui-btn ui-btn-left ui-btn-up-b ui-shadow ui-btn-corner-all" data-role="none">
            <span class="ui-btn-inner">
                <span class="ui-btn-text">Reportes Cerrados <span class="draft_count" id="close-reports"></span></span>
            </span>
        </a>
    </div>
</div>