<div data-role="header" data-theme="c" >
    <h1>Detalle del Reporte</h1>
    <a id="reports-next-btn" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">Atrás</a>
</div>
<div data-role="content">
    <div id="bottom-btn">
        <input data-role="button" data-theme="c" type="button" id="gestion" name="gestion_entidad" value="Gestión">
    </div>
    <div id="titulo"></div>
    <div id="detalle"></div>
    <div id="url"></div>
    <div id="codigoSnip"></div>
    <div id="nombreEntidad"></div>
    <br/>
    <div id="comentario">
    <h2>Comentarios</h2>
    </div>
</div>