<div data-role="header" data-theme="c">
    <h1>Detalles Gestion </h1>
    <a id="reports-next-btn" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">Atrás</a>
</div>
<div data-role="content">
    <div class="gmailstyletest">
        <input data-role="button" data-theme="c" type="button" id="confirmarGestion" name="confirmarGestion" value="Confirmar">
        <div>
            <label for="form_title">Estado</label>
            <div id="divEstados">
            </div>
        </div>
        <div class="noborder">
            <label for="form_detail">Detalles</label>
            <textarea data-role="none" name="detail" id="form_detail_gestion" placeholder="Describa Gestión" required></textarea>
        </div>
    </div>
</div>
