<h1>Preguntas Frecuentes Entidades Territoriales</h1>
<dl>
    <dt>¿Entidades territoriales?</dt>
    <dd> Las entidades territoriales son municipios o departamentos. El administrador de ciudadanos visibles ha marcado su usuario asociándolo a una entidad territorial.</dd>

    <dt>¿Cómo se usa esta aplicación?</dt>
    <dd>
        Al acceder con sus credenciales se muestra el botón para ingresar al módulo, y posteriormente 4 categorías. Reportes nuevos, son aquellos que aún no tienen gestión asociada (no hay cambio de estado); Reportes abiertos, son aquellos en diferentes estados pero que aún no se han solucionado; Reportes cerrados, son aquellos marcados como "arreglado". Reportes de Mapa Regalías, son los proyectos de Mapa Regalías asociados a su entidad territorial sin importar el estado.
    </dd>

    <dt>¿Qué sucede con la información que proporcionó?</dt>
    <dd>
        Los comentarios se publican a nombre de la entidad territorial, con su nombre para que los usuarios sepan quien responde. En el caso de los comentarios de control social a los proyectos de Mapa Regalías, serán enviados al ejecutor del proyecto.

    </dd>

    <dt>He olvidado mi contraseña, ¿cómo puedo restaurarla?</dt>
    <dd>
        Si has olvidado tu contraseña, puedes restablecerla en el sitio web de ciudadanos visibles.
        Ten en cuenta que debes hacer clic en el enlace del correo electrónico de confirmación para activar o cambiar tu contraseña.
    </dd>
</dl>



