<h1>Preguntas Frecuentes</h1>
<dl>
    <dt>¿Qué es <% print( CONFIG.APP_NAME ) %>?</dt>
    <dd><% print( CONFIG.APP_NAME ) %> es un sitio web y una aplicación móvil que ayuda a las personas a reportar problemas o situaciones encontradas en su ciudad o municipio.</dd>

    <dt>¿Cómo se usa esta aplicación?</dt>
    <dd>La aplicación intentará localizar tu ubicación de forma automática, 
    pero si no puede o deseas reportar un problema en otro lugar 
    puedes buscar por departamento, municipio o dirección. Para 
    empezar a informar de un problema desplaza la cruz sobre el mapa 
    hasta la ubicación del problema y pulse 'Nuevo informe aquí.
    </dd>

    <dt>¿Qué sucede con la información que proporciono?</dt>
    <dd><strong>Toda la información que proporciones en el reporte será enviada a la entidad correspondiente.</strong>.
        El título, categoría y detalles de tu reporte se podrán ver en el sitio web. Por defecto tu nombre también se mostrará en el sitio, 
        sin embargo tu puedes escoger la opción de mantenerlo oculto.
        <strong>Nunca mostrará tu correo electrónico o número telefónico en el sitio.</strong>.</dd>

    <dt>¿Y si quiero permanecer anonimo?</dt>
    <dd>Debes eliminar la selección de la opción 'Mostrar mi nombre públicamente' al ingresar los detalles del reporte. Tu nombre no será mostrado en el sitio.
    <strong>Tu nombre, correo electrónico y número de teléfono, si han sido proporcionados, siempre serán enviados a la entidad territorial.</strong></dd>

    <dt>¿Qué pasa si accidentalmente incluyo información personal en el reporte?</dt>
    <dd>Para editar tu reporte por favor enviar un correo a <a href="mailto:ciudadanosvisibles@hotmail.com">ciudadanosvisibles@hotmail.com</a> con los detalles 
    del reporte</dd>

    <dt>He olvidado mi contraseña, ¿cómo puedo restaurarla?</dt>
    <dd>Si has olvidado tu contraseña, puedes restablecerla seleccionando la opción 
    "establecer una contraseña" cuando realices la presentación de un reporte. 
    Ten en cuenta que debes hacer clic en el enlace del correo electrónico 
    de confirmación para activar o cambiar tu contraseña.</dd>

    <dt>¿Qué tipo de problemas debería reportar con <% print( CONFIG.APP_NAME ) %>?</dt>
    <dd><% print( CONFIG.APP_NAME ) %> es principalmente para reportar necesidades
        <strong> de la comunidad en diferentes categorias.</strong>.</dd>

    <dt>¿Es gratis?</dt>
    <dd>El sitio Web y la aplicación móvil son de uso gratuito. <% print( CONFIG.APP_NAME ) %>.
    </dd>

    <dt>¿Quíen construyó <% print( CONFIG.APP_NAME ) %>?</dt>
    <dd>El sitio web y la aplicación original fueron construidos por <a onclick="FMS.openExternal(event); return false;" href="http://www.mysociety.org/">mySociety</a>.</dd>
    <dt>Gracias a las contribuciones de la comunidad de software libre y multiples entidades.</dt>
    <dd>
    La adaptación para <% print( CONFIG.APP_NAME ) %> fue un proyectos del Departamento nacional de planeación, DNP,
    con el apoyo del Banco Mundial y USAID.</dd>
</dl>
