<div data-role="header" data-position="fixed" data-theme="c">
        <a id="offline-prev-btn" class="ui-btn-left">Inténtalo de nuevo</a>
        <h1>Sin Conexión</h1>
        <a id="offline-next-btn" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">Omitir</a>
</div>
    <div id="locating" class="nodisplay">
        <div class="radar"></div>
        <div id="progress">
            <div id="progress-bar">
            </div>
        </div>

        <p>
        Encontrando tu Ubicación
        </p>

        <p>
        <input data-theme="b" type="button" id="locate_cancel" value="Cancel">
        </p>
    </div>
<div data-role="content">

    <p class="notopmargin">
        <% if ( typeof id != 'undefined' ) { %>
        Lo siento - Hemos detectado que no hay conexión a internet. Sin embargo puedes editar un reporte ahora y enviarlo más tarde.
        <% } else { %>
        Lo siento - Hemos detectado que no hay conexión a internet. Sin embargo puedes empezar un reporte ahora y completarlo más tarde, luego puedes ir a 'Borrador' cuando
        tengas conexión a internet.
        <% } %>
    </p>

    <p id="locate_result">
        <% if ( lat ) { %>
        Este reporte tiene una ubicación
        <% } else { %>
        <input type="button" data-role="button" data-theme="c" id="locate" value="Ubicación (opcional)">
        <% } %>
    </p>

    <div class="inputcard">
        <div>
            <input data-role="none" type="text" value="<%= title %>" name="title" id="form_title" placeholder="Escribe un título" required>
        </div>

        <div>
            <textarea data-role="none" rows="7" cols="26" name="detail" id="form_detail" placeholder="Por favor, escribe los detalles de tu reporte" required><%= details %></textarea>
        </div>
    </div>

    <% if ( file != '' ) { %>
    <div id="add_photo" style="display: none">
        <% } else { %>
        <div id="add_photo">
            <% } %>
            <label>Agregar una foto <em>(opcional)</em></label>
            <input data-icon="fms-photo-new" value="Tomar una nueva foto" type="button" name="photo_button" id="id_photo_button" data-role="button" data-theme="c">
            <input data-icon="fms-photo-existing" value="Agregar una foto existente" type="button" name="existing" id="id_existing" data-role="button" data-theme="c">
        </div>

        <% if ( file == '' ) { %>
        <div id="display_photo" style="display: none">
            <% } else { %>
            <div id="display_photo">
                <% } %>
                <label>Tu Foto</label>
                <div class="photo">
                    <img class="small" id="photo" src="<%= file %>" />
                </div>
                <input value="Borrar foto" type="button" name="del_photo_button" id="id_del_photo_button" data-role="button" data-theme="c">
            </div>
        </div>
    </div>
</div>