<div data-role="header" data-theme="c">
    <h1>Buscar Proyectos</h1>
    <a id="reports-next-btn" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">Inicio</a>
</div>

<div data-role="content">
    <div class="frontpage-menu">
        <div id="nombreEntidad"></div>
        <form class="inputcardEntidad" name="postcodeFormEntidad" id="postcodeFormEntidad">
            <input type="search" id="pcEntidad" name="pcEntidad" placeholder="Buscar por proyecto, codigoSNIP">
        </form>
        <a data-role="none" id="relocate" class="nodisplay"></a>
        <div class="nodisplay" id="front-howto"></div>
    </div>
    <div class="bottom-btn">
        <input type="button" id="buscarReporte" name="buscarReporte" data-theme="c" value="Buscar Proyectos">
    </div>
</div>
