<div id="report-created-header" data-role="header" data-theme="c">
    <a class="ui-btn-left">Proyectos</a>
    <h1>Foto cargada</h1>
</div>
<div data-role="content">
    <% if ( typeof email_confirm != 'undefined' && email_confirm === 1 ) { %>
    <h3>Confirmaci&oacute;n email enviado</h3>

    <p>
        Te hemos enviado un email de confirmación que puede tardar unos minutos en llegar. Una vez que llegue haz clic en el enlace del correo para confirmar que se cargó la imagen al proyecto.
    </p>
    <% } else { %>
    <h3>Gracias. Tu foto fue cargada con éxito al proyecto.</h3>

    <p class="center"><input type="button" data-theme="c" id="open_report" value="Ver en el sitio"></p>
    <% } %>

    <div class="bottom-btn">
        <input type="button" id="id_report_another" data-theme="c" value="Cargar foto nuevo proyecto" >
    </div>
</div>
