<div id="submit-header" data-role="header" data-theme="c">
    <a id="reports-next-btn" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">Atrás</a>
    <h1>Tus Detalles</h1>
</div>

<div data-role="content">
    <div id="errors"></div>
    <form id="passwordForm" name="passwordForm">
    <div id="password_row">
        <p class="notopmargin">
        Escribe una contraseña para tu cuenta. La cuenta no se activará hasta no dar clic en el enlace de confirmación enviado a tu correo electrónico.
        </p>
        <div class="inputcard">
            <div>
                <input data-role="none" type="password" value="" name="password" id="form_password" placeholder="Tu contraseña" required>
            </div>
        </div>
        <div class="noborder">
            <input data-role="button" data-theme="c" type="submit" id="continue" name="report" value="Continuar">
        </div>
    </div>
    </form>
</div>
