<div data-role="header" data-position="fixed" data-theme="c">
    <a id="reports-next-btn" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">Atrás</a>
    <h1 id="titulo_report"></h1>
</div>
<div id="drafts">
    <p id="noreports" class="nodisplay">No se encontraron proyectos para su gestión, felicidades</p>
    <div id="report-list" class="nodisplay">
        <p class="notopmargin">
            Estos son los proyectos que se han encontrado para su gestión.
        </p>
        <ul data-role="listview" data-split-theme="b" data-inset="true" data-split-icon="delete" class="notopmargin reports">
            <% drafts.each(function(draft) {
            if ( draft ) {
            var classes = [];
            if ( draft.get('lat') ) {
            classes.push('with_location');
            }
            if ( draft.get('file') ) {
            classes.push('with_photo');
            }
            var draftClass = '';
            if ( classes.length ) {
            draftClass = 'class="' + classes.join(' ') + '"';
            }
            <!--print( '<li id="' + draft.id + '" ' + draftClass + '><a id="' + draft.id + '" href="#"  class="use_report">' + draft.description() + '</a><a class="del_report" href="#" title="delete">Delete</a></li>' );}-->
            print( '<li id="' + draft.get('codigoProyecto') + '"'  + draftClass + '><a href="#" class="use_report">' + draft.description() + '</a><a class="del_report" href="#" title="delete">Delete</a></li>' );}
                }); %></ul>
    </div>
</div>
